
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,  #root {
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: #213547;
}
#logotext{
  color: black;
  /*color: #646cff;*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  margin-top: -0.3rem;
 
}
#logox{

  font-size: 2.4rem;

}
nav{

width: 100%;
display: flex;
z-index: 1000;
/*background-color: azure;*/
}
.horizontalbar img{
  width: 5rem;
  height: 5rem;
}
.horizontalbar{
  width: 100%;
  display: flex;
  padding: 0 0.6rem;
  justify-content: space-between;
  align-items: center;
  background-color:white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0.1rem 0.4rem;
  z-index: 10000000;
}
#hor{
  margin-right: 1rem;
cursor: pointer;
}
.horizontalbar li{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu{
position: relative;
  width: 100%;
   color: black;
  padding: 0  2rem 0rem 2rem;
background-color: rgb(226, 233, 237);;
display: none;
align-items: center;
flex-direction: column;
justify-content: space-between;
box-shadow: rgba(0, 0, 0, 0.16) 0px 0.1rem 0.4rem 0.4rem;

}
.menulist{
  display: flex;
  justify-content: center;
  align-items: center;
text-align: left;
width: 100%;
padding: 0 0 2rem 0;
overflow: hidden;
}
.read-the-docs {
  color: #888;
  font-size: 1.2rem;
}
.slidebar{
  
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: white;
  height: 100%;
  box-shadow: rgba(126, 125, 125, 0.2) 0rem 0.2rem 0.8rem 0rem;
}
#class{
  background-color: transparent;
  list-style: none;
  cursor: pointer;
font-family: monospace;
padding: 0rem;
width: 100%;
text-transform: capitalize;
font-size: 1.9rem;
box-shadow: none;
border: none;
}
.butaround{
  box-shadow: rgba(126, 125, 125, 0.2) 0rem 0.2rem 0.8rem 0rem;

  width: 100%;
  background-color:  rgba(248, 248, 249, 0.989);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
padding: 6rem 0;
}
body::-webkit-scrollbar{
  appearance: none;
  display: none;

}
body::-moz-scrollbar{
  appearance: none;
  display: none;
scrollbar-width: none;
}

.slidebar li label{
  display: flex;
column-gap:0.8rem ;
align-items: center;
cursor: pointer;
}
.slidebar li{
  list-style: none;
  cursor: pointer;
font-family: monospace;
padding: 0.8rem 0.8rem 0.8rem 1rem;
width: 100%;
text-transform: capitalize;
font-size: 1.9rem;
box-shadow: none;
display: flex;
column-gap:0.9rem ;
align-items: center;
height: auto;
}
.slidebar li:hover{
  background-color:   rgba(241, 241, 247, 0.989);
}
#t{
  padding: 1.8rem;
  cursor: auto;

}
#t:hover{
  background-color: white;
}
button{
  padding: 1rem 1.6rem;
  background-color: transparent;
  color:  rgb(62, 197, 62);
  border: 0.1rem solid rgb(62, 197, 62);
  border-radius: 0.5rem;
 font-size: 2rem;
 font-style: normal;

 font-weight: 300;
opacity: 0.86;
cursor: pointer;
}
button:hover{
opacity: 1;
}

h1{
  color: black;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


@media(max-width:400px) {
  :root{
    font-size: 44%;
  }
  .horizontalbar img{
  width: 4rem;
  height: 4rem;
}
 #logotext{
  
  font-size: 2rem;
word-spacing:0.001rem;
}
#logox{
  font-size: 2.5rem;
}

}
@media screen and (min-height:600px) {
  .menu{
    justify-content:baseline;
  }

}
@media(min-width:900px) {
  :root {
    font-size: 60%;
  } 
 
  #hor svg{
    width: 2rem;
    height: 2rem;
  }

}
@media(min-width:1200px) {
  :root {
    font-size: 80%;
  } 

  #hor svg{
    width: 2rem;
    height: 2rem;
  }
  

}

@media(min-width:1500px) {
  :root {
    font-size: 110%;
  } 

#hor svg{
  width: 3rem;
  height: 3rem;
}
}
@media(min-width:2000px) {
  :root {
    font-size: 170%;
  } 
  
#hor svg{
  width: 3rem;
  height: 3rem;
}

}

